* {
    box-sizing: border-box;
}

#navbar {
    border-bottom: 1px solid #BDBDBD;
}

#logo {
    width: 130px;
    height: 55px;
}

ul {
    padding: 0;
}

.nav {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.active {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
    font-size: 18px;
}

.menu {
    display: block;
    border: 1px solid #A6A6A6;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.list {
    margin: 10px;
    padding: 10px;
}

.grid {
    display: inline-block;
    text-align: center;
    width: 50%;
}

img {
    width: 300px;
    height: 300px;
}

.link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

.loading {
    width: 50px;
    height: 50px;
    margin: auto;
}

.glyphicon {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #6167F6;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    /* animation: spin 2s linear infinite; */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.text-center {
    text-align: center;
}

.btn-default {
    padding: 20px 60px;
    border: 0;
    border-radius: 5px;
    background-color: #6167F6;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-top: 45px;
}

#top {
    display: inline-block;
    position: fixed;
    right: 15px;
    bottom: 20px;
}

#btn_top {
    border: 0;
    padding: 0;
}

#img_top {
    width: 50px;
    height: 50px;
}





















